data/*
model/experiment_tracking/models/*
model/experiment_tracking/vectorizer/*
kaggle.json
orchestration/mlops/kaggle.json
orchestration/mlops/*.db
orchestration/mlops/.DS_Store
orchestration/mlops/.cache/
orchestration/mlops/.file_versions
orchestration/mlops/.gitkeep
orchestration/mlops/.log
orchestration/mlops/.logs/
orchestration/mlops/.mage_temp_profiles
orchestration/mlops/.preferences.yaml
orchestration/mlops/.ssh_tunnel
orchestration/mlops/.terraform
orchestration/mlops/.terraform.*
orchestration/mlops/.variables/
orchestration/mlops/__pycache__/
orchestration/mlops/docker-compose.override.yml
orchestration/mlops/logs/
orchestration/mlops/mage_data/
orchestration/mlops/mlruns/
orchestration/mlops/secrets/
orchestration/mlops/terraform.tfstate
orchestration/mlops/terraform.tfstate.backup
orchestration/mlops/titanic_clean.csv
orchestration/mlops/kaggle.json
orchestration/mlops/mlops/data/*
orchestration/mlops/mlops/data/*
orchestration/mlops/mlops/data/*
orchestration/mlops/terraform/*
orchestration/mlops/dreaddit-train.csv
deployment/batch/output/*
deployment/batch/vectorizer/*


