[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.4.2"
flask = "*"
nltk = "==3.8.1"
mlflow = "==2.12.2"
boto3 = "*"
gunicorn = "*"
evidently = "*"
psycopg = "*"
prefect = "*"

[dev-packages]
deepdiff = "*"
pytest = "*"
pylint = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.11"
